<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <form action="/seminar/<%=courseId %>" method="post">
            <label>title
                <input name="theme" type="text" class="input" value="<%=seminar ? seminar.theme:""  %>">
            </label>
            <label>lifeTime
                <input name="lifeTime" type="number" class="input" value="<%=seminar ? seminar.lifeTime :"" %>">
            </label>
            <select name="student">
                <% students.forEach(student=> { %>
                    <option value="<%= student._id%>" <%=seminar && seminar.student===student.id ? 'selected' : '' %>
                        >
                        <%= student.name%>
                    </option>
                    <%})%>
            </select>
            <textarea name="description" cols="30" rows="10"><%=seminar ? seminar.description:'' %></textarea>
            <button type="submit">New Seminar</button>
        </form>
        <% if(errors) {%>
            <ul>
                <% for(let error of errors){ %>
                    <li>
                        <%=error.msg %>
                    </li>
                    <% } %>
            </ul>
            <% } %>
    </body>

</html>