<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <main>
            <ul>
                <% for(let course of coursesList){ %>
                    <li>
                        <span>
                            <%=course.title %>
                        </span>
                        <span>
                            <%=course.lifeTime %>
                        </span>
                        <div>
                            <% for( let student of course.students ) { %>
                                <p>
                                    <%=student?.name || student %>
                                </p>
                                <% } %>
                        </div>
                        <div>
                            <% for( let seminar of course.seminars ) { %>
                                <p>
                                    <%=seminar?.theme || seminar %>
                                </p>
                                <p>
                                    <%=seminar?.lifeTime || seminar %>
                                </p>
                                <% } %>
                        </div>
                        <a href="seminar/<%=course._id  %>">add seminar</a>
                    </li>
                    <% } %>
            </ul>

        </main>
    </body>

</html>