<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <script>
            window.addEventListener('load', () => {
                const selectEl = document.querySelector('select[data-selected]')
                const data = selectEl?.getAttribute("data-selected").split(',');
                if (Array.isArray(data)) {
                    for (const opt of selectEl.options) {
                        if (data.find((id) => id === opt.value)) opt.selected = true
                    }
                }
            }
            )
        </script>
        <form action="/courses/form" method="post">
            <label>title
                <input name="title" type="text" class="input" value="<%= course ? course.title : ''  %>">
            </label>
            <label>lifeTime
                <input name="lifeTime" type="number" class="input" value="<%= course ? course.lifeTime : ''  %>">
            </label>
            <label>student
                <select name="students" multiple data-selected="<%=course?.students %>">
                    <% students?.forEach(student=> { %>
                        <option value="<%=student._id%>">
                            <%= student.name%>
                        </option>
                        <%})%>
                </select>
            </label>
            <button type="submit">New course</button>
        </form>
        <% if(errors) {%>
            <ul>
                <% for(let error of errors){ %>
                    <li>
                        <%=error.msg %>
                    </li>
                    <% } %>
            </ul>
            <% } %>
    </body>

</html>